h1 {
    background-image: linear-gradient(to right, #286BC4, #26105A);
}

ul {
    list-style-type: none;
}

#search-btn {
    background-color: #a0d9fa;
    color: white;
}

.history-btn {
    background-color: #a0d9fa;
    color: black;
    display: block;
    width: 100%;
}